@model Application.DTOs.Pagination.PagedList<Application.DTOs.User.SimplifiedUserDTO>

@foreach (var user in Model.Items)
{
    <a asp-controller="Profile" asp-action="Index" asp-route-id="@user.Id" id="@user.Id" class="d-flex align-items-center inbox-user-card text-decoration-none ">
        <img src="@(string.IsNullOrEmpty(user.ProfilePictureUrl) ? "/images/default-profile.jpg" : user.ProfilePictureUrl)" alt="User Picture" class="user-card__picture rounded-circle mx-3" onerror="this.onerror=null; this.src='/images/default-profile.jpg';" />
        <div class="flex-grow-1">
            <div class="d-flex justify-content-between">
                <p style="color: var(--primary-color)" >@user.FirstName @user.LastName</p>
            </div>
        </div>
    </a>
}
